<ion-view ng-controller="groupsController">
	<ion-header-bar>
		<span style="float: right"><i class="icon ion-plus-round" ng-click="addGroup();" style="font-size: 36px"></i></span>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="item in phoneList">
				<ion-checkbox ng-model="item.selected">
				{{ item.name }}
				</ion-checkbox>
			</ion-item>
		</ion-list>
		<button class="button button-block button-positive" ng-click = "createGroup();">
		  Done
		</button>
	</ion-content>
</ion-view>